#!/bin/bash
#SBATCH --job-name={{JOB_NAME}}
{{#PARTITION}}#SBATCH --partition={{PARTITION}}{{/PARTITION}}
{{#ACCOUNT}}#SBATCH --account={{ACCOUNT}}{{/ACCOUNT}}
{{#QOS}}#SBATCH --qos={{QOS}}{{/QOS}}
{{#TIME}}#SBATCH --time={{TIME}}{{/TIME}}
{{#NODES}}#SBATCH --nodes={{NODES}}{{/NODES}}
{{#NTASKS}}#SBATCH --ntasks={{NTASKS}}{{/NTASKS}}
{{#CPUS}}#SBATCH --cpus-per-task={{CPUS}}{{/CPUS}}
{{#MEM}}#SBATCH --mem={{MEM}}{{/MEM}}
{{#GPUS}}#SBATCH --gpus={{GPUS}}{{/GPUS}}
{{#NODELIST}}#SBATCH --nodelist={{NODELIST}}{{/NODELIST}}
{{#EXCLUDE}}#SBATCH --exclude="{{EXCLUDE}}"{{/EXCLUDE}}
#SBATCH --output=logs/%x_%j.out
#SBATCH --error=logs/%x_%j.err

# Run the main script
bash {{RUN_NAME}}.sh

