# {{GIT_REPO_NAME}}

Project code for SLURM project `{{PROJECT_NAME}}`.

## Quickstart

1. Add your code to this directory
2. Submit the job:
   ```bash
   slx project submit {{PROJECT_NAME}}
   ```

Monitor a running job with:
```bash
slx tail <job_id>
```
